* {
    margin: 0%;
    padding: 0%;
}
.container{
    border:1px solid red;
    width: 60%;
    margin: 0 auto;
    height: 900px;
}
#T1 {
    text-align: center;
    color: aquamarine;
}
#output {
    position:absolute;
    left:0;
    right:0;
    margin:auto;
    width: 50%;
    height: 40px;
    text-align: right;
    font-family: '黑体';
    font-size: 30px;
    border-radius: 5px;
    border-color: rgb(0, 81, 255);
    color: aqua;
}
#DivBtn {
    position: relative;
    margin: 50px auto;
    width: 84%;
}
.NumBt {
    position: relative;
    margin: 5px auto;
    width: 160px;
    height: 60px;
}